---
---

@import "{{ site.theme }}";
#header_wrap{
  background-color: #FAE94E !important;
  font: black;
}
header{
  padding: 10px;
}
h1, h2, h3{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#project_title, #project_tagline{
  text-shadow: none;
  color: black;
}
