---
---

@import "{{ site.theme }}";
#header_wrap{
  background: #F7EA38 !important;
  font: black;
  border: none !important;
}
#header_wrap .inner{
  padding: 10px !important;
}
h1, h2, h3{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#project_title, #project_tagline{
  text-shadow: none;
  color: black;
}
#main_content_wrap{
  border: none !important;
}
